extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block content 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget rhoncus tellus. Vivamus id purus quam. Curabitur et nibh fringilla, aliquet diam sed, feugiat arcu. Donec rutrum lectus risus, quis vehicula erat vestibulum semper. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facere dolorem cupiditate cumque voluptates odio perspiciatis minus dignissimos repellat vero atque distinctio rem, culpa sit commodi facilis, debitis perferendis et?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")

        include ./layout/bloque_viajes.pug
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        //h3 5% de Descuento 
                        //p.titulo Viaje a Canada 
                        //p.fecha 20 de Marzo 2022 - 28 de Marzo 2022
                        //p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales 
            include ./layout/bloque_testimoniales.pug