extends ./layout/index

block content 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pageName
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget rhoncus tellus. Vivamus id purus quam. Curabitur et nibh fringilla, aliquet diam sed, feugiat arcu. Donec rutrum lectus risus, quis vehicula erat vestibulum semper. Sed nibh nulla, lobortis a ante sed, varius laoreet magna. Vivamus fermentum erat nec massa viverra, luctus luctus diam semper. Proin vel turpis sit amet odio egestas pretium quis sit amet nisl. 

                p Fusce accumsan at magna dapibus congue. Maecenas augue libero, porta non est ut, convallis efficitur ligula. Fusce eu egestas libero, at rutrum tortor. Nulla egestas quam a purus vehicula, sed egestas justo ultricies. Sed posuere posuere nibh. Nam sit amet massa facilisis, convallis magna et, porta odio. Nulla et orci ullamcorper, tempor dolor ac, viverra sem. Etiam viverra in enim sit amet facilisis. Nulla facilisi. Morbi id elit mauris. 

                p Sed in erat a elit efficitur condimentum sed nec turpis. Vivamus lobortis bibendum condimentum. Phasellus varius vulputate tincidunt. Curabitur molestie quam ut metus pretium eleifend. Quisque sed dignissim erat. Vivamus non leo id dolor lobortis varius sit amet et ligula. Ut porta pretium nulla quis blandit. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="/img/icono_seguridad.svg" alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed in erat a elit efficitur condimentum sed nec turpis. Vivamus lobortis bibendum condimentum

                .col-md-4 
                    img(src="/img/icono_destinos.svg" alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed in erat a elit efficitur condimentum sed nec turpis. Vivamus lobortis bibendum condimentum

                .col-md-4 
                    img(src="/img/icono_precios.svg" alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed in erat a elit efficitur condimentum sed nec turpis. Vivamus lobortis bibendum condimentum